/*CSS RESET*/
*{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.623);
}

html{
    scroll-behavior: smooth;
}
/* NAVBAR */
#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top:0px;
}

/* NAVBAR:LOGO ,IMAGE */
#logo{
    margin:10px 34px;

}

#logo img{
    height:56px;
    margin:0px 0px;
}
/* NAVBAR:LIST STYLING */
#navbar ul{
    display:flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content:"";
    background-color: white;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}
#navbar ul li{
    list-style: none;
    font-size:1.3rem;
}

#navbar ul li a{
    color:orange;
    display:block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration:none;
}
#navbar ul li a:hover{
    color:black;
    background-color: aqua;
}
.a {
    width: 100px;
    height: 100px;
    background:url('/web/image/man1.png') no-repeat center center/cover;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from{
        left: 0px;
    }
    to{
        left: 1000px;
    }
  }